<div
  *ngIf="isTaskDetailLoading"
  class="flex lg:flex-row flex-col gap-8 min-h-screen"
>
  <!-- Left Section Skeleton -->
  <div class="bg-white lg:w-[72%] w-full min-h-screen rounded-[10px] p-[24px]">
    <!-- Image Placeholder -->
    <div
      class="h-[360px] w-full rounded-[10px] bg-gray-200 animate-pulse"
    ></div>
    <div class="ml-[24px] mr-[24px] my-[24px]">
      <!-- Title Placeholder -->
      <div
        class="w-full mb-[31px] h-[32px] bg-gray-200 animate-pulse rounded"
      ></div>
      <!-- Domain and Get Mentors Placeholder -->
      <div class="flex divide-x-2 gap-[10px] mb-[20px]">
        <div class="h-[14px] bg-gray-200 w-1/2 animate-pulse rounded"></div>
        <div class="h-[14px] bg-gray-200 w-1/4 animate-pulse rounded"></div>
      </div>
      <!-- Description Section Skeleton -->
      <div class="flex flex-col gap-[16px] mb-[24px]">
        <div class="h-[24px] bg-gray-200 animate-pulse rounded"></div>
        <div class="h-[14px] bg-gray-200 w-full animate-pulse rounded"></div>
        <div class="h-[14px] bg-gray-200 w-3/4 animate-pulse rounded"></div>
      </div>
      <!-- Essence of Assessment Section Skeleton -->
      <div class="flex flex-col gap-[16px]">
        <div class="h-[24px] bg-gray-200 animate-pulse rounded"></div>
        <div class="flex flex-col gap-[20px]">
          <div class="h-[14px] bg-gray-200 w-full animate-pulse rounded"></div>
          <div class="h-[14px] bg-gray-200 w-3/4 animate-pulse rounded"></div>
          <div class="h-[14px] bg-gray-200 w-2/3 animate-pulse rounded"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Right Section Skeleton -->
  <div class="bg-white lg:w-[28%] w-full min-h-screen rounded-[10px] p-[24px]">
    <div class="flex flex-col gap-[12px] mt-[24px]">
      <!-- Assignment Title Placeholder -->
      <div class="h-[24px] bg-gray-200 animate-pulse rounded"></div>
      <!-- Assignment Domain Placeholder -->
      <div class="h-[14px] bg-gray-200 w-3/4 animate-pulse rounded"></div>
    </div>

    <!-- Form Skeleton -->
    <div class="mt-[60px]">
      <!-- Static Text Placeholders -->
      <div class="h-[20px] bg-gray-200 animate-pulse rounded mb-[20px]"></div>
      <!-- Input Field Placeholders -->
      <div class="flex flex-col gap-[20px]">
        <div class="h-[31px] bg-gray-200 w-full animate-pulse rounded"></div>
        <div class="h-[31px] bg-gray-200 w-full animate-pulse rounded"></div>
        <!-- File Input Placeholder -->
        <div class="h-[160px] bg-gray-200 w-full animate-pulse rounded"></div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="!isTaskDetailLoading"
  class="flex md:flex-row flex-col gap-8 min-h-screen"
>
  <div class="bg-white xl:w-[72%] md:w-1/2 w-full min-h-screen rounded-[10px]">
    <img
      src="{{ task.image }}"
      alt=""
      class="h-[360px] w-full rounded-[10px] object-cover"
    />
    <div class="ml-[24px] mr-[12x] my-[24px]">
      <div class="w-full mb-[31px] flex flex-col gap-4">
        <span class="text-[32px] font-[600] text-cscolor-300">
          {{ task.title }}
        </span>
        <div class="flex divide-x-2 gap-[10px]">
          <div class="text-[14px] font-[500] text-cscolor-200">
            {{ task.domain }}
          </div>
          <div class="text-[14px] font-[500] text-cscolor-800 pl-[10px]">
            <span>+ Get Mentors</span>
          </div>
        </div>

        <div class="flex gap-[20px]">
          <div
            class="text-[14px] font-[500] text-cscolor-300 flex items-center gap-[5px]"
          >
            <ng-icon
              strokeWidth="50"
              name="saxProfile2userOutline"
              class="w-4 h-4 text-cscolor-400 text-lg"
            ></ng-icon>
            200 Students Involved
          </div>
          <div
            class="text-[14px] font-[500] text-cscolor-300 flex items-center gap-[5px]"
          >
            <ng-icon
              name="saxClockOutline"
              strokeWidth="50"
              class="w-4 h-4 text-cscolor-400 text-lg"
            ></ng-icon>
            {{ task.nombre_heures + " Hour" }}
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-[16px] mb-[24px]">
        <span class="text-[24px] font-[600] text-cscolor-300">Description</span>
        <div class="text-[14px] font-[400]">{{ task.description }}</div>
      </div>

      <div class="flex flex-col gap-[16px]">
        <span class="text-[24px] font-[600] text-cscolor-300"
          >Essence of Assessment</span
        >
        <ul class="flex flex-col gap-[20px]">
          <li *ngFor="let essence of task.essence_of_assessment">
            <div class="flex gap-[10px]">
              <ng-icon
                name="saxTickCircleBold"
                class="w-[24px] h-[24px] text-cscolor-600"
              ></ng-icon>
              <span class="text-[14px] font-[400] text-cscolor-300">
                {{ essence }}
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div
    class="bg-white xl:w-[28%] md:w-1/2 w-full min-h-screen rounded-[10px] p-[24px]"
  >
    <span class="text-[14px] font-[600] text-cscolor-300"
      >Assigned Assignments
    </span>
    <div class="flex flex-col gap-[12px] mt-[24px]">
      <span class="text-[24px] font-[600] text-cscolor-300">{{
        task.title
      }}</span>
      <span class="text-[14px] font-[500] text-cscolor-400">{{
        task.domain
      }}</span>
    </div>

    <div class="mt-[60px] flex flex-col gap-[20px]">
      <span class="text-[20px] text-cscolor-300 font-[600]"
        >Detail Student</span
      >
      <form [formGroup]="studentForm" enctype="multipart/form-data">
        <div>
          <div class="flex flex-col gap-[10px]">
            <div>
              <label
                for="firstname"
                class="cursor-pointer text-[14px] text-cscolor-400 font-[500] ml-[3px]"
              >
                First name</label
              >
              <input
                formControlName="firstname"
                type="text"
                name="firstname"
                id="firstname"
                class="h-[31px] w-full bg-cscolor-900 rounded-[5px] p-[10px] border border-cscolor-600 mt-[5px] outline-none focus:border-cscolor-700"
              />
              <div
                *ngIf="studentForm.controls.firstname.errors"
                class="text-sm text-cscolor-500"
              >
                {{
                  studentForm.controls.firstname.errors
                    ? studentForm.controls.firstname.errors["serverError"]
                    : ""
                }}
              </div>
            </div>

            <div>
              <label
                for="lastname"
                class="cursor-pointer text-[14px] text-cscolor-400 font-[500] ml-[3px]"
              >
                Last name</label
              >
              <input
                type="text"
                formControlName="lastname"
                name="lastname"
                id="lastname"
                class="h-[31px] w-full bg-cscolor-900 rounded-[5px] p-[10px] border border-cscolor-600 mt-[5px] outline-none focus:border-cscolor-700"
              />
              <div
                *ngIf="studentForm.controls.lastname.errors"
                class="text-sm text-cscolor-500"
              >
                {{
                  studentForm.controls.lastname.errors
                    ? studentForm.controls.lastname.errors["serverError"]
                    : ""
                }}
              </div>
            </div>
          </div>

          <div class="mt-[22px] flex flex-col gap-[20px]">
            <span class="text-[20px] text-cscolor-300 font-[600]">
              File Task
            </span>

            <div class="flex flex-col gap-[16px]">
              <span class="text-[14px] text-cscolor-400 font-[500]"
                >File submissions</span
              >

              <label
                appFileUploadDragAndDrop
                (fileDropped)="onFilesDropped($event)"
                for="photo"
                class="cursor-pointer h-[160px] w-full border-dashed border border-cscolor-600 rounded-[10px] flex justify-center items-center"
              >
                <ng-icon
                  name="saxFolderOpenOutline"
                  size="32"
                  class="w-8 h-8 text-cscolor-600/[28%]"
                ></ng-icon>
                <input
                  (change)="onPhotoLoad($event)"
                  formControlName="photo"
                  type="file"
                  name="photo"
                  id="photo"
                  class="invisible w-0"
                />
              </label>
              <div *ngIf="currentLoadPhotoPath != ''">
                <img
                  src="{{ currentLoadPhotoPath }}"
                  alt=""
                  class="object-cover w-fuff h-[160px]"
                />
              </div>
              <span class="text-[12px] text-cscolor-400 font-[400]"
                >*drag or browser from device</span
              >
              <div
                *ngIf="studentForm.controls.photo.errors"
                class="text-sm text-cscolor-500"
              >
                {{
                  studentForm.controls.photo.errors
                    ? studentForm.controls.photo.errors["serverError"]
                    : ""
                }}
              </div>
            </div>
          </div>
        </div>
        <button
          (click)="createNewStudent()"
          class="bg-cscolor-600 py-[12px] w-full text-white rounded-[10px] text-[14px] font-[600] mt-[80px]"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
