<div class="flex relative overflow-x-hidden">
  <app-aside class="hidden lg:block"></app-aside>
  <app-mobile-aside
    class="lg:hidden block"
    [isMobileAsideOpen]="isAppOpenMobileAside"
    (closeMobileAsideEvent)="isAppOpenMobileAside = !isAppOpenMobileAside"
  ></app-mobile-aside>
  <main
    class="bg-cscolor-100 h-screen fixed right-0 left-0 lg:left-[252px] top-0 bottom-0 overflow-y-auto custom-scroll overflow-x-hidden"
  >
    <app-nav-bar></app-nav-bar>
    <app-mobile-navbar
      (openMobileAsideEvent)="isAppOpenMobileAside = !isAppOpenMobileAside"
    ></app-mobile-navbar>
    <div class="p-8 z-0">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
