<div>
  <div class="text-[24px] font-[600] mb-[18px] text-cscolor-300">New Task</div>
  <div
    *ngIf="isFetchingData"
    class="grid md:grid-cols-2 xl:grid-cols-3 gap-8 grid-col-1"
  >
    <div
      *ngFor="let skeleton of skeletons"
      class="bg-white lg:w-[328px] w-full min-h-[314px] rounded-[10px] p-[24px] flex flex-col gap-4 cursor-pointer skeleton"
    >
      <div
        class="rounded-[10px] h-[110px] w-full bg-gray-300 animate-pulse"
      ></div>
      <div class="flex flex-col gap-[4px]">
        <div class="h-[20px] bg-gray-300 w-3/4 animate-pulse rounded"></div>
        <div class="h-[15px] bg-gray-200 w-1/2 animate-pulse rounded"></div>
      </div>

      <div class="w-full flex flex-col gap-[8px]">
        <div class="flex justify-between">
          <div class="h-[20px] bg-gray-300 w-1/4 animate-pulse rounded"></div>
          <div class="h-[20px] bg-gray-300 w-1/4 animate-pulse rounded"></div>
        </div>
        <div class="w-full bg-cscolor-700 h-2 rounded-full relative">
          <div
            class="bg-cscolor-600 h-full rounded-full relative animate-pulse"
            style="width: 50%"
          ></div>
        </div>
      </div>

      <div class="flex justify-between items-center">
        <div class="flex items-center gap-2">
          <div
            class="w-[18.5px] h-[18.5px] bg-gray-400 rounded-full animate-pulse"
          ></div>
          <div class="h-[20px] bg-gray-300 w-24 animate-pulse rounded"></div>
        </div>
        <div class="h-[20px] bg-gray-300 w-12 animate-pulse rounded"></div>
      </div>
    </div>
  </div>

  <ul
    *ngIf="!isFetchingData"
    class="grid md:grid-cols-2 xl:grid-cols-3 gap-8 grid-col-1"
  >
    <li *ngFor="let task of tasks">
      <a
        routerLink="{{ '/task/' + task.id }}"
        class="bg-white lg:w-[328px] w-full min-h-[314px] rounded-[10px] p-[24px] flex flex-col gap-4 cursor-pointer"
      >
        <img
          src="{{ task.image }}"
          alt=""
          class="rounded-[10px] h-[110px] w-full object-cover"
        />
        <div class="flex flex-col gap-[4px]">
          <span class="text-[16px] font-[600] text-cscolor-300">{{
            task.title
          }}</span>
          <span class="text-cscolor-200 text-[12px] font-[500]">{{
            task.domain
          }}</span>
        </div>

        <div class="w-full flex flex-col gap-[8px]">
          <div class="flex justify-between">
            <span class="text-cscolor-300 font-[500] text-[16px]"
              >Progress</span
            >
            <span class="text-cscolor-600 font-[500] text-[16px]">{{
              task.progression * 100 + "%"
            }}</span>
          </div>
          <div class="w-full bg-cscolor-700 h-2 rounded-full relative">
            <div
              class="bg-cscolor-600 h-full rounded-full relative"
              [style.width.%]="[task.progression * 100]"
            >
              <span
                class="w-4 h-4 rounded-full border-white border-2 bg-cscolor-600 absolute -right-[12px] top-[-50%]"
              ></span>
            </div>
          </div>
        </div>
        <div class="flex justify-between items-center">
          <div class="flex items-center gap-2">
            <ng-icon
              name="saxClockOutline"
              class="w-[18.5px] h-[18.5px] text-cscolor-400"
            ></ng-icon>
            <span class="text-cscolor-300">{{
              task.nombre_heures + " Hour"
            }}</span>
          </div>
          <div>
            <ul class="flex -space-x-2">
              <li *ngFor="let participant of task.participants">
                <img
                  src="../../assets/participants.jpeg"
                  alt="Participant"
                  width="24"
                  height="24"
                  class="rounded-full border-2 border-white"
                />
              </li>
            </ul>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
