/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Plus Jakarta Sans";
  }
}

.custom-scroll::-webkit-scrollbar {
  background-color: white;
  width: 5px;
  box-shadow: inset 0 0px 5px gray;
}
.custom-scroll::-webkit-scrollbar-track {
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: lightslategray;
  border-radius: 50px;
}
